@charset "UTF-8";

/* ----------------- GERAIS ----------------- */

body{
    font-family: 'roboto', sans-serif;
}

.row{
    margin: 0px;
}

.container{
    padding: 70px 0;

}

p, li{
    color: #cccccc;
    font-size: 14px;
}

/* ------------- BARRA DE NAVEGAÇÂO ------------- */

header .navbar{
    border-bottom: 1px solid black;
}

.navbar-brand img{
    width: 70px;
}

.navbar-brand span{
    color: #cccccc;
    user-select: none;
}


#navbarNavAltMarkup .navbar-nav{
    display: flex;
    width: 100%;
    justify-content: center;

}

#navbarNavAltMarkup .nav-item{
    margin: 0 1em;
    color: white;
    user-select: none;
}

#navbarNavAltMarkup .nav-item.active{
    border-bottom: 1px solid #cccccc;
}